@font-face {
  font-family: "TitilliumWeb-Light";

  src: url("../assets/fonts/TitilliumWeb-Light.ttf") format("truetype");
  src: url("../assets/fonts/TitilliumWeb-Light.woff") format("woff");
  src: url("../assets/fonts/TitilliumWeb-Light.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Regular";

  src: url("../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  src: url("../assets/fonts/TitilliumWeb-Regular.woff") format("woff");
  src: url("../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-SemiBold";

  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  src: url("../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff");
  src: url("../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Bold";

  src: url("../assets/fonts/TitilliumWeb-Bold.ttf") format("truetype");
  src: url("../assets/fonts/TitilliumWeb-Bold.woff") format("woff");
  src: url("../assets/fonts/TitilliumWeb-Bold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Black";

  src: url("../assets/fonts/TitilliumWeb-Black.ttf") format("truetype");
  src: url("../assets/fonts/TitilliumWeb-Black.woff") format("woff");
  src: url("../assets/fonts/TitilliumWeb-Black.woff2") format("woff2");
  font-style: normal;
}
